.title {
  color: white;
  font-size: 5vw;
  text-align: end;
  cursor: pointer;
  padding: 1rem;
}

.title:hover {
  animation: earthquake 1s ease-in-out;
  opacity: 0.7;
}

@keyframes earthquake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 90% {
    transform: translateY(-1px) rotate(-1deg);
  }
  20%, 80% {
    transform: translateZ(1px) rotate(1deg);
  }
}

.subtitle {
  color: white;
  font-size: 1.5vw;
  margin-right: 3rem;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
  text-align: end;
}